/* UTILITIES */

.u-none {
    display: none !important;
}

.u-uppercase {
    text-transform: uppercase !important;
}

@media print {
    .u-none\@print {
        display: none;
    }
}

/* END UTILITIES */