.c-dashboard {
    display: grid;
    height: 100vh;
    grid-template-rows: $header-height 1fr;
    grid-template-columns: min-content 1fr;

    @include md() {
        grid-template-columns: $nav-min-width 1fr;
    }

    &__main {
        flex: 1;
        grid-column: 2 / 3;
        grid-row: 2/ 3;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        background-color: #f4f7fa;
    }
}